@import "rsuite/dist/rsuite.css";

#root{ padding: 10px; }

/* .rs-picker-dropdown {
    z-index: 9999 !important;
  }

  .your-container-class {
    position: relative;
    z-index: 9999;
  }
 */
  /* .rs-picker-dropdown {
    position: absolute;
    z-index: 9999 !important; 
    display: block !important; 
    background-color: white;
  }
  
  .your-container-class {
  
    overflow: visible !important;
    background-color: white;
  }
   */